*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	padding: 3rem;
}

h1 {
	margin-bottom: 1rem;
}

h2 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 0.5rem;
	font-size: 1.18rem;
}

ul {
	margin-left: 2rem;
	margin-bottom: 0.5rem;
}
